.pass {
    justify-content: center;
    border: solid;
    border-width: 1px;
    border-color: #6C534C;
    font-size: 22px;
    color: #2f5496;
}

.btnIngreso {
    width: 100%;
    background-color: #ffd966;
    border: solid;
    border-width: 1px;
    border-color: #020d4d;
    border-radius: 5px;
    color: #584604;
    font-weight: bold;
}