.ftr {
    background-color: #9cc3e4;
    .card-text,
    .card-title {
        color: #6d544d;
        font-weight: bold;
    }
    .card {
        border: none;
        background-color: rgba(0, 0, 0, 0);
    }
    .contacto {
        margin-top: 18px;
        button {
            background-color: #6d544d;
            align-items: center;
            width: 35px;
            height: 35px;
            border-radius: 50%;
            border: none;
            color: #fff;
        }
    }
    .redes {
        background-color: #6d544d;
        align-items: center;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        border: none;
        color: #fff;
    }
}

.ftrr {
    width: 100%;
    background-image: url(../../../assets/img/fondoMadera.jpg);
    background-size: cover;
    position: static;
    z-index: 100;
}

.btftr {
    max-width: 84px;
    font-size: 9px;
    border: solid;
    border-width: 1px;
}

.help {
    cursor: pointer;
}