.row {
    margin-top: 1rem;
    margin-bottom: 4rem;
    padding: 2rem;
}

.liquid {
    text-align: right;
    font-weight: bold;
    width: 60%;
    border: 0;
}

.liquid2 {
    text-align: left;
    width: 60%;
    border: solid;
    border-width: 1px;
    border-radius: 5px;
}

.blok {
    width: 40%;
}

.blok1 {
    font-size: 25px;
    width: 40%;
}

.liquid1 {
    text-align: right;
    font-weight: bold;
    color: rgb(8, 76, 133);
    width: 60%;
    border: 0;
    font-size: 25px;
}

.img-fluid {
    width: 80px;
    height: 80px;
}

.ttal {
    border: solid;
    border-width: 2px;
    border-color: #dee2e6;
}