<app-navsec></app-navsec>
<div class="nosotros">
    <div class="col-12">
        <div class="card-group">
            <div class="card mt-5" style="border: none;">
                <div class="card-body text-center txto">
                    <h2 class="card-title">¿QUIÉNES SOMOS?</h2>
                    <hr class="line">
                    <br>
                    <p class="card-text">
                        ¡Para cuidarte a ti y a tu familia creamos a Torreón Market! </p>
                    <br>
                    <p class="card-text">
                        Ponemos a tu disposición desde la comodida de tu hogar, una variedad de productos naturales, suplementos y alimentos saludables, de buena calidad. </p>
                    <br>
                    <p class="card-text">
                        Deseamos que la compra de nuestros productos, sea un nuevo comienzo para que te cuides más a ti mismo y a tus seres queridos. Nuestra torre fuerte es Dios, del cual proviene nuestra bendición. <br> Proverbios 18:10 </p>
                </div>
            </div>
            <div class="card">
                <img src="../../../assets/img/nosotros.jpg" class="card-img-top" alt="...">
            </div>
        </div>
    </div>
</div>
<div class="contenido">
    <div class="title mt-5 d-none d-lg-block d-xl-block">
        <div class="col-md-12">
            <div class="card-group">
                <div class="card">
                    <div class="card-body">
                        <hr class="line2">
                    </div>
                </div>
                <div class="card">
                    <div class="card-body text-center">
                        <h2 class="ltTitle">NUESTROS VALORES</h2>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <hr class="line2">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="cont">
        <ul>
            <li>
                <h5>AMOR</h5>
                <p>Cuídarnos a nosostros mismo y a nuestros seres queridos, es una expresión genuina de amor. Para cuidarte a ti y a tu familia creamos ésta empresa.</p>
            </li>
            <br>
            <li>
                <h5>PASIÓN</h5>
                <p>No creemos que haya una mejor forma de vivir que con pasión, apreciando cada momento como el regalo que es.</p>
            </li>
            <br>
            <li>
                <h5>RESILIENCIA</h5>
                <p>Requerimos fortaleza para superar las dificultades con exito. Sabemos que podrías estar atravesando por algun problema de salud y queremos estar allí para facilitarte el proceso.</p>
            </li>
            <br>
            <li>
                <h5>RESPONSABILIDAD</h5>
                <p>Es importante para nosotros que nuestros productos sean de buena calidad y puedan mejorar tu salud y/o belleza.</p>
            </li>
            <br>
            <li>
                <h5>ESPERANZA</h5>
                <p>Creemos más alla de los diagnosticos y limites físicos, creemos que tenemos el poder de mejorar nuestra propia vida.</p>
            </li>
            <br>
            <li>
                <h5>ALEGRIA</h5>
                <p>Queremos contagiarte alegria. Reir aun en medio de las dificultades, usar el sentido del humor para afrontar la vida con la mejor actitud.</p>
            </li>
        </ul>
    </div>
</div>
<div class="nosotros2">
    <div class="col-12">
        <div class="card-group">
            <div class="card">
                <img src="../../../assets/img/us.jpg" class="card-img-top" alt="...">
            </div>
            <div class="card mt-5" style="border: none;">
                <div class="card-body text-center txto">
                    <h2 class="card-title">¡QUEREMOS AYUDARTE!</h2>
                    <hr class="line">
                    <br>
                    <div class="text-left txto">
                        <ul style="list-style-image:url(../../../assets/img/check.png)">
                            <li style="color: #584604;">Si deseas sentirte cada vez mejor, tener calidad de vida y aumentar tu vitalidad. </li>
                            <br>
                            <li style="color: #584604;">Si estas atravesando algún problema de salud y estas buscando otras alternativas para sentirte mejor.</li>
                            <br>
                            <li style="color: #584604;">Si deseas aumentar tu belleza y cuidarte para verte bien.</li>
                            <br>
                            <li style="color: #584604;">Si deseas aprovechar al máximo las bondades de la naturaleza, para cuidarte y cuidar a los que mas amas.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>