.cantidad {
    width: 100%;
    align-items: center;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    input {
        width: 30%;
        border: solid;
        border-width: 1px;
    }
}

.cvid {
    width: 100%;
    color: #fff;
    background-color: #004c98;
    padding-top: 12px;
    padding-bottom: 10px;
    border-radius: 5px;
}