<app-navsec></app-navsec>
<div>
    <div class="container">
        <div class="col-lg-12 mt-5">
            <h3 class="titulo">Productos por categoría</h3>
            <hr>
            <div class="row">
                <div class="col-lg-3 izq">
                    <h5 class="titulo mt-3">Filtrar por categoría:</h5>
                    <hr>
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-6 categ">
                                <button class="btn btn-primary btn-block" (click)="loadByCategory('Belleza y cuidado personal')">Belleza y cuidado</button>
                                <button class="btn btn-primary btn-block" (click)="loadByCategory('Tratamientos para la salud')">Tratamientos de salud</button>
                                <button class="btn btn-primary btn-block" (click)="loadByCategory('Control de peso y desintoxicación')">Control de peso</button>
                                <button class="btn btn-primary btn-block" (click)="loadByCategory('Alimentos y especies')">Alimentos y especies</button>
                                <button class="btn btn-primary btn-block" (click)="loadByCategory('Vitaminas y suplementos')">vitaminas y suplementos</button>
                            </div>
                            <div class="col-lg-6 categ">
                                <button class="btn btn-primary btn-block" (click)="loadByCategory('Bienestar sexual')">Bienestar sexual</button>
                                <button class="btn btn-primary btn-block" (click)="loadByCategory('Aceites esenciales')">Aceites esenciales</button>
                                <button class="btn btn-primary btn-block" (click)="loadByCategory('Plantas medicinales')">Plantas medicinales</button>
                                <button class="btn btn-primary btn-block" (click)="loadByCategory('Suplementos deportivos')">Suplementos deportivos</button>
                                <button class="btn btn-primary btn-block" (click)="allProducts()">Todos los productos</button>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-9">
                    <div class="row row-cols-1 row-cols-md-4">
                        <div class="col mb-3" *ngFor="let item of productos">
                            <div class="card games" (click)="openProduct(item.id)">
                                <img [src]="item.imagen" class="card-img-top prd" alt="...">
                                <div class="card-body">
                                    <p class="card-title">{{item.nombre | titlecase}}</p>
                                    <p class="card-text"><b>{{item.precio | currency}}</b></p>
                                    <button class="compra"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Comprar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>