<app-navsec></app-navsec>
<div class="container mt-5">
    <h3><img src="../../../assets/img/help.png" alt=""> Torreón Market Te Ayuda:</h3>
    <hr>
    <div class="accordion" id="accordionExample">
        <div *ngIf="pasos">
            <h4>PASOS PARA COMPRAR:</h4>
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0 pregunta">
                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            <h5><i class="fa fa-chevron-down"></i> Primeros Pasos:</h5>
                        </button>
                    </h2>
                </div>
                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        Buscar los productos deseados. Se puede hacer de las siguientes maneras: 1.) En la página inicial 2.) Entrando por la pestaña de PRODUCTO o 3.) Entrando por alguna de las categorías de la página de inicial en donde dice NUESTROS PRODUCTOS. En las barras
                        de búsqueda, ubicadas en estos lugares mencionados, puedes buscar el producto deseado escribiendo en el espacio en blanco el nombre genérico del producto, la enfermedad que trata, o la parte del cuerpo que beneficia.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h2 class="mb-0 pregunta">
                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <h5><i class="fa fa-chevron-down"></i> Revisar Tamaños y Descripción</h5>
                        </button>
                    </h2>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                        <p><i class="fa fa-circle point"></i> Revisar si existe otros tamaños y/o sabores de los productos deseados, que te pudieran interesar.</p>
                        <p><i class="fa fa-circle point"></i> Mirar la descripción y más información del producto de interés, dándole click en botón amarillo de COMPRAR en la parte de debajo de cada producto o click en la foto del mismo.</p>
                        <p><i class="fa fa-circle point"></i> Elegir el producto deseado para comprar. Dar click en el botón amarillo que dice COMPRARLO.</p>
                        <p><i class="fa fa-circle point"></i> Abrirá el Inicio de Sesión donde deberás colocar tu email y clave de seguridad. Luego dar click en botón de CREAR CUENTA si eres nuevo o en el boton INGRESAR si ya tenías cuenta desde antes.</p>
                        <p><i class="fa fa-circle point"></i> Dar click de nuevo en el botón amarillo de COMPRARLO y revisar que las cantidades y los productos deseados estén cargados para realizar la comprar.</p>
                        <p><i class="fa fa-circle point"></i> Si deseas quitar algún producto dar click en el cuadradito rojo y luego en el botón azul que dice Si, borrarlo y luego dar click en OK.</p>
                        <p><i class="fa fa-circle point"></i> Si te falto agregar algún producto dar click en botón amarillo ubicado a tu derecha que dice SEGUIR COMPRANDO. Buscar u elegir el producto a agregar y dar click en el botón amarillo de COMPRAR,
                            luego al ver la descripción del producto y dar click en COMPRARLO.</p>
                        <p><i class="fa fa-circle point"></i> Asegurarse que queden cargados las cantidades y los productos que se desean comprar.</p>

                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingthree">
                    <h2 class="mb-0 pregunta">
                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapsethree" aria-expanded="false" aria-controls="collapsethree">
                            <h5><i class="fa fa-chevron-down"></i> Confirmar Datos y Compra</h5>
                        </button>
                    </h2>
                </div>
                <div id="collapsethree" class="collapse" aria-labelledby="headingthree" data-parent="#accordionExample">
                    <div class="card-body">
                        <p><i class="fa fa-circle point"></i> Diligenciar los datos de entrega completos, ubicados a tu izquierda. Llenar los datos cuidadosamente, ya que la dirección a la cual será enviando el producto será tu responsabilidad. Cuando estén
                            completos y correctos todos los datos diligenciados, dar click en CONFIRMAR DATOS en el botón amarillo y luego en botón azul de OK. </p>
                        <p><i class="fa fa-circle point"></i> Elegir la ciudad y el departamento de Colombia a donde se enviará el producto. Si la ciudad que buscar no se encuentra allí quiere decir que no hay cobertura para envíos en esa ciudad.</p>
                        <p><i class="fa fa-circle point"></i> El sistema liquidará el valor del flete o precio de envió según ciudad elegida y lo sumará al valor de tu pedido. Debes validar el valor total a pagar.</p>
                        <p><i class="fa fa-circle point"></i> Aceptar los Términos de Uso y Políticas de Privacidad que aparece a tu lado derecho. Se colocará el visto bueno en azul.</p>
                        <p><i class="fa fa-circle point"></i> Dar click en FINALIZAR COMPRAR. Este botón se coloca amarillo y habilita luego de confirmar los datos personales y aceptar los Términos de uso y Políticas de Privacidad.</p>
                        <p><i class="fa fa-circle point"></i> Saldrá la opción de pago por PayU dar click en botón amarillo de ACEPTAR.</p>
                        <p><i class="fa fa-circle point"></i> Elegir forma de pago deseada y seguir las instrucciones, hasta culminar pago.</p>
                        <p><i class="fa fa-circle point"></i> Luego de que hagas todo el procesos de compra y por último pagues. Se te enviara un mensaje de confirmación a tu correo, con toda la información de la compra que realizaste.</p>


                    </div>
                </div>
            </div>
        </div>
        <br>
        <div *ngIf="formas">
            <h4>FORMAS DE PAGO</h4>
            <div class="card">
                <div class="card-header" id="headingfive">
                    <h2 class="mb-0 pregunta">
                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapsefive" aria-expanded="false" aria-controls="collapsefive">
                            <h5><i class="fa fa-chevron-down"></i> ¿Qué medios de pagos puedo utilizar?</h5>
                        </button>
                    </h2>
                </div>
                <div id="collapsefive" class="collapse" aria-labelledby="headingfive" data-parent="#accordionExample">
                    <div class="card-body">
                        <p><i class="fa fa-circle point"></i> Las tarjetas crédito o débito aceptadas son: VISA, Mastercard, American Express, Diners Club y CODENSA.</p>
                        <p><i class="fa fa-circle point"></i> Puedes pagar por el sistema PSE con tu cuenta de ahorros o corriente.</p>
                        <p><i class="fa fa-circle point"></i> Puedes realizar el pago en efectivo en cualquier de las siguientes agencias: Baloto, Efecty, Pagatodo, Apuestas Cucuta 75, Gana, Gana Gana, Su Chance, Acertemos, La Perla, Apuestas Unidas o Jer.</p>
                        <p><i class="fa fa-circle point"></i> Puedes hacer el pago en los Bancos: Banco Bogotá y Bancolombia.</p>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div *ngIf="envios">
            <h4>ENVÍOS Y ENTREGAS</h4>
            <div class="card">
                <div class="card-header" id="headingsix">
                    <h2 class="mb-0 pregunta">
                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapsesix" aria-expanded="false" aria-controls="collapsesix">
                            <h5><i class="fa fa-chevron-down"></i> ¿Cuándo llegan mis productos?</h5>
                        </button>
                    </h2>
                </div>
                <div id="collapsesix" class="collapse" aria-labelledby="headingsix" data-parent="#accordionExample">
                    <div class="card-body" style="text-align: justify;">
                        El envío de los productos se realizará en las ciudades donde tenemos cobertura en Colombia, a través de correo certificado, y durará en llegar normalmente no más de 5 días hábiles, después de que culmines tu compra, siempre y cuando no medie ningún caso
                        fortuito o de fuerza mayor. Si pasa más de este tiempo, por favor comunícate a servicio al cliente, para verificar que pudo haber sucedido y poderte colaborar. <br><br>El lugar de envío será a la dirección
                        que diligencie el cliente en el sistema, el cual podrá ser el mismo lugar de habitación del comprador u otro que este designe. Se entiende que cualquier persona que se encuentre en el domicilio donde se debe realizar la entrega,
                        se encuentra debidamente autorizado por el cliente para recibir su pedido. <br><br> Los productos sean empacados y presentados en bolsa plástica y/o caja de cartón que cumple con las condiciones necesarias para la conservación
                        adecuada del producto. <br><br>La empresa transportadora tendrá la obligación de hacer máximo dos (2) intentos de entrega de los productos adquiridos. En caso que los intentos de entrega resulten infructuosos, retornarán los bienes
                        a la fábrica y se procederá a la devolución de los dineros consignados, salvo el valor del envío, sin importar la causa u origen que pueda tener la devolución. Igualmente se considera entrega infructuosa si el destinatario del
                        producto es menor de dieciocho (18) años y no se encuentra acompañado de un padre, tutor o acudiente que firme junto con el destinatario el recibido del producto.
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div *ngIf="cuenta">
            <h4>MI CUENTA</h4>
            <div class="card">
                <div class="card-header" id="headingeight">
                    <h2 class="mb-0 pregunta">
                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseeight" aria-expanded="false" aria-controls="collapseeight">
                            <h5><i class="fa fa-chevron-down"></i> Crear cuenta en Torreón Market</h5>
                        </button>
                    </h2>
                </div>
                <div id="collapseeight" class="collapse" aria-labelledby="headingeight" data-parent="#accordionExample">
                    <div class="card-body">
                        <p>
                            El registro en <b>https://torreonmarket.com</b> para tener una cuenta es gratuita. Para comprar, es necesario que el usuario se registre como cliente, suministrando un correo electrónico y una contraseña. Deberá diligenciar
                            el formulario de registro en todos sus campos con datos completos con su información personal de manera exacta, precisa y verdadera.
                        </p>
                        <p>
                            El usuario accederá a su cuenta personal mediante el ingreso de su correo inscrito y contraseña de seguridad personal elegida. Torreón Market nunca te preguntará por ningún medio, ni motivo tu contraseña. Si se comunican contigo para preguntarte tu contraseña,
                            no la digas. Debes mantener la confidencialidad de su contraseña.
                        </p>
                        <p>
                            Se recomienda cambiar la contraseña regularmente y no compartirla con nadie. La Cuenta es personal, única e intransferible, un mismo usuario no debe poseer más de una cuenta. Los usuarios garantizan y responden, en cualquier caso, de la veracidad, exactitud,
                            vigencia y autenticidad de los datos personales ingresados, y deberá actualizarlos conforme resulte necesario.
                        </p>
                        <p>
                            Se recomienda cambiar la contraseña regularmente y no compartirla con nadie. La Cuenta es personal, única e intransferible, un mismo usuario no debe poseer más de una cuenta. Los usuarios garantizan y responden, en cualquier caso, de la veracidad, exactitud,
                            vigencia y autenticidad de los datos personales ingresados, y deberá actualizarlos conforme resulte necesario.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="pago">
            <h4>PAGO</h4>
            <div class="card">
                <div class="card-header" id="headingfive">
                    <h2 class="mb-0 pregunta">
                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapsefive" aria-expanded="false" aria-controls="collapsefive">
                        <h5><i class="fa fa-chevron-down"></i> ¿Qué medios de pagos manejan?</h5>
                    </button>
                    </h2>
                </div>
                <div id="collapsefive" class="collapse" aria-labelledby="headingfive" data-parent="#accordionExample">
                    <div class="card-body">
                        <p>Las compras se realizan mediante PayU</p>
                        <p>Efectivo: SuRed, Efecty, Baloto</p>
                        <p>Tarjetas Crédito: VISA, American Express, Master Card, Diners Club</p>
                        <p>Debito: Pagos PSE Bancos: Banco de Bogotá, Bancolombia, Davivienda</p>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="preguntas">
            <h4>PREGUNTAS FRECUENTES</h4>
            <div class="accordion" id="accordionExample">
                <div class="card">
                    <div class="card-header" id="preFre">
                        <h2 class="mb-0 pregunta">
                            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#preFre12" aria-expanded="false" aria-controls="preFre12">
                            <h5><i class="fa fa-chevron-down"></i> ¿Cómo me registro o cómo inicio sesión?</h5>
                        </button>
                        </h2>
                    </div>
                    <div id="preFre12" class="collapse" aria-labelledby="preFre" data-parent="#accordionExample">
                        <div class="card-body">
                            uedes hacerlo ingresando por la pestaña PRODUCTO, luego en el cabezote o parte superior verás el botón amarillo a tu derecha que dice INGRESAR, allí le das click y saldrá un formulario que dice en su parte superior Inicio de Sesión, donde deberás colocar
                            tu email y la contraseña. Luego debes dar click en CREAR CUENTA si eres nuevo, e INGRESAR, si ya tenías una cuenta creada.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="prefre1">
                        <h2 class="mb-0 pregunta">
                            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#prefre20" aria-expanded="false" aria-controls="prefre20">
                            <h5><i class="fa fa-chevron-down"></i> ¿Cómo recordar mi contraseña si se me olvidó?</h5>
                        </button>
                        </h2>
                    </div>
                    <div id="prefre20" class="collapse" aria-labelledby="prefre1" data-parent="#accordionExample">
                        <div class="card-body">
                            En caso de pérdida, olvido, de tu contraseña deberás remitirse a la pestaña PRODUCTO, luego en el cabezote o parte superior verás el botón amarillo a tu derecha que dice INGRESAR, allí abrirá un cuadro en donde diligenciarás solo el correo que antes habías
                            registrado y dejas vacío el espacio de la contraseña, y luego le das click a la opción ¿Olvidaste tu contraseña?. Cuando das click a ¿Olvidaste tu contraseña?, se te enviará a tu correo electrónico registrado, un código para
                            que actives una nueva contraseña, siguiendo las instrucciones.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="prefre3">
                        <h2 class="mb-0 pregunta">
                            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#prefre21" aria-expanded="false" aria-controls="prefre21">
                            <h5><i class="fa fa-chevron-down"></i> ¿Cómo me comunico con Servicio al Cliente?</h5>
                        </button>
                        </h2>
                    </div>
                    <div id="prefre21" class="collapse" aria-labelledby="prefre3" data-parent="#accordionExample">
                        <div class="card-body">
                            Te puedes comunicar a servicio al cliente de varias formas: <br><br>- Escribe al Chat de nuestro sitio web <br><br>- Escribe al WhatsApp o llama al celular 3234902185 <br><br>- Escribe al correo servicioalcliente@torreonmarket.com
                            <br><br>Con gusto te atenderemos y colaboraremos, lo más pronto posible. Tenemos atención de 8am a 6pm de Lunes a Viernes y los Sábado de 8 am a 1pm.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="prefre4">
                        <h2 class="mb-0 pregunta">
                            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#prefre23" aria-expanded="false" aria-controls="prefre23">
                            <h5><i class="fa fa-chevron-down"></i> ¿Que Cobertura Tienen los Envíos?</h5>
                        </button>
                        </h2>
                    </div>
                    <div id="prefre23" class="collapse" aria-labelledby="prefre4" data-parent="#accordionExample">
                        <div class="card-body">
                            Se realizan envíos de productos, en las zonas y lugares que tenemos acceso de acuerdo a nuestra red de distribución, dentro del territorio colombiano. <br><br>Cuando estés realizando la compra de los productos podrás visualizar
                            y elegir la ciudad y departamento, que te aparecerán habilitadas en el sistema para realizar tus envíos, dentro de Colombia. <br><br>Si no aparece la ciudad que buscas, allí habilitada para poderla elegir, quiere decir que
                            no realizamos envíos para esta ciudad.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="prefre5">
                        <h2 class="mb-0 pregunta">
                            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#prefre24" aria-expanded="false" aria-controls="prefre24">
                            <h5><i class="fa fa-chevron-down"></i> ¿Qué costo tiene el envió?</h5>
                        </button>
                        </h2>
                    </div>
                    <div id="prefre24" class="collapse" aria-labelledby="prefre5" data-parent="#accordionExample">
                        <div class="card-body">
                            El costo del envió dependerá del lugar al que se va a enviar la mercancía, la cantidad y el peso. Y será calculado en el momento en el que confirmes tu compra. <br><br>Si vives en Pereira o Dosquebradas (Risaralda) y tu pedido
                            es igual o mayor a $70.000, el envió de tu pedido será gratuito.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="prefre6">
                        <h2 class="mb-0 pregunta">
                            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#prefre25" aria-expanded="false" aria-controls="prefre25">
                            <h5><i class="fa fa-chevron-down"></i> ¿Cuánto tiempo dura en llegar mi pedido?</h5>
                        </button>
                        </h2>
                    </div>
                    <div id="prefre25" class="collapse" aria-labelledby="prefre6" data-parent="#accordionExample">
                        <div class="card-body">
                            Normalmente no pasa de 5 días hábiles en llegar tu pedido. Si pasa de este tiempo, por favor comunícate a servicio al cliente, para verificar que pudo haber sucedido y poderte colaborar.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="prefre7">
                        <h2 class="mb-0 pregunta">
                            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#prefre27" aria-expanded="false" aria-controls="prefre27">
                            <h5><i class="fa fa-chevron-down"></i> ¿Qué puedo hacer si presento algún inconveniente y/o duda sobre los productos o mi pedido?</h5>
                        </button>
                        </h2>
                    </div>
                    <div id="prefre27" class="collapse" aria-labelledby="prefre7" data-parent="#accordionExample">
                        <div class="card-body">
                            Si tienes algún inconveniente y/o duda comunicate por favor con nosotros de cualquiera de las siguientes formas:
                            <br>- Escribe al Chat de nuestro sitio web.
                            <br>- Escribe al WhatsApp o llama al celular 3234902185.
                            <br>- Escribe al correo <b>servicioalcliente@torreonmarket.com</b>.
                            <br>Con gusto te atenderemos y colaboraremos, lo más pronto posible. Tenemos atención de 8am a 6pm de Lunes a Viernes y los Sábado de 8 am a 1pm. </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="prefre8">
                        <h2 class="mb-0 pregunta">
                            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#prefre28" aria-expanded="false" aria-controls="prefre28">
                            <h5><i class="fa fa-chevron-down"></i> ¿Qué Seguridad tengo en mis Compras y mis Pagos?</h5>
                        </button>
                        </h2>
                    </div>
                    <div id="prefre28" class="collapse" aria-labelledby="prefre8" data-parent="#accordionExample">
                        <div class="card-body">
                            <p>
                                Nuestro aliado para facilitarte realizar los pagos es PayU, que es líder de servicios de pago en línea, especializado en crear procesos de pago rápidos y simples, con la máxima seguridad antifraude y muchas formas de pago. Cuenta con uno de los módulos
                                antifraude más eficientes, que verifica cada transacción realizada para evaluar que dicha transacción sea legítima y prevenir operaciones fraudulentas, para proteger a nuestros usuarios. Por esta razón importantes empresas
                                se apoyan en PayU como aliado entre las que se encuentran: Sony, Oster, Avianca y Fallabela
                            </p>
                            <p>
                                Este sistema disminuye los riesgos de fraudes electrónicos por medio de un proceso de monitoreo de cada transacción, solo una vez haya sido bien revisada la operación realizada, ésta será aprobada, o por el contrario si notan algo no seguro, la transacción
                                será rechazada.
                            </p>
                            <p>
                                En Torreón Market no guardamos la información de los usuarios suministrada para hacer sus pagos como datos de tarjetas y claves bancarias, ni ningún otro dato relacionada con el fin. Torreón Market nunca te preguntara por ningún medio, o por motivo tus
                                contraseñas. Si se comunican contigo para preguntarte tus contraseñas, no la digas. Debes mantener siempre la confidencialidad de tus contraseñas y datos bancarios.
                            </p>
                            <p>
                                Nuestros proveedores y los productos que comercializamos en torreonmarket.com son cuidadosamente seleccionados, para ofrecer una excelente calidad y seguridad a nuestros clientes. Manejamos los términos de garantía que ofrecen nuestros proveedores para
                                los productos que distribuimos dentro de Colombia.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="prefre9">
                        <h2 class="mb-0 pregunta">
                            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#prefre29" aria-expanded="false" aria-controls="prefre29">
                            <h5><i class="fa fa-chevron-down"></i> ¿Cómo cambio la dirección de envió de mis pedidos?</h5>
                        </button>
                        </h2>
                    </div>
                    <div id="prefre29" class="collapse" aria-labelledby="prefre9" data-parent="#accordionExample">
                        <div class="card-body">
                            <p>
                                Al momento de realizar cada una de tus compras siempre antes de culminarlas, te solicitará el sistema, que confirmes tus datos. Si deseas que tu pedido llegue a otra dirección, antes de confirmar en el sistema tus datos, deberás aprovechar para modificarlos
                                o actualizarlos, y así asegurarte que estén correctos, antes de continuar con tu compra.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="prefre10">
                        <h2 class="mb-0 pregunta">
                            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#prefre30" aria-expanded="false" aria-controls="prefre30">
                            <h5><i class="fa fa-chevron-down"></i> ¿Cómo actualizo mis datos?</h5>
                        </button>
                        </h2>
                    </div>
                    <div id="prefre30" class="collapse" aria-labelledby="prefre10" data-parent="#accordionExample">
                        <div class="card-body">
                            <p>
                                Al momento de realizar cada una de tus compras siempre antes de culminarlas, te solicitará el sistema, que confirmes tus datos. Antes de confirmar en el sistema tus datos, deberás aprovechar para modificarlos o actualizarlos, y así asegurarte que estén
                                correctos, antes de continuar con tu compra.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="prefre11">
                        <h2 class="mb-0 pregunta">
                            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#prefre31" aria-expanded="false" aria-controls="prefre31">
                            <h5><i class="fa fa-chevron-down"></i> ¿Cómo verifico que hice correctamente mi compra?</h5>
                        </button>
                        </h2>
                    </div>
                    <div id="prefre31" class="collapse" aria-labelledby="prefre11" data-parent="#accordionExample">
                        <div class="card-body">
                            <p>
                                Luego de que hagas todo el procesos de compra y por último pagues. Se te enviara un mensaje de confirmación a tu correo, con toda la información de la compra que realizaste.
                            </p>
                            <p>
                                Al momento del despacho de tu pedido, te llegará un mensaje a tu correo y/o celular, confirmando el número de guia, para que puedas hacer seguimiento en el sitio www.envia.co , colocando solo el número de guia, en donde dice rastrea.
                            </p>
                            <p>
                                Esto último, no aplica para los pedidos despachados para Pereira y Dosquebradas (Risaralda) que serán enviados por otra transportadora y que por la cercanía llegaran posiblemente más rápido, que los despachados a otros lugares del país.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="prefre12">
                        <h2 class="mb-0 pregunta">
                            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#prefre32" aria-expanded="false" aria-controls="prefre32">
                            <h5><i class="fa fa-chevron-down"></i> Devoluciones y Cambios</h5>
                        </button>
                        </h2>
                    </div>
                    <div id="prefre32" class="collapse" aria-labelledby="prefre12" data-parent="#accordionExample">
                        <div class="card-body">
                            <p>
                                Se procederá a realizar los cambios y a aceptar las devoluciones de los productos, de acuerdo a los parámetros de las garantías conferidas por el respectivo productor, o de acuerdo con los términos de ley. Cualquier solicitud para devolución o cambio
                                de productos deberá cumplir con las disposiciones sanitarias y garantías para los clientes, cuando los productos a que se refiere sean objeto de inconveniencia sanitaria o restricción legal o reglamentaria. </p>
                            <p>
                                Se procederá a efectuar devoluciones de dinero por concepto de mercancía comprada en el sitio web, siempre y cuando la solicitud de devolución se presente a servicio al cliente dentro de los cinco (5) días hábiles siguientes a la entrega del producto.
                                En los casos en que la solicitud de devolución se efectúe fuera del plazo anteriormente señalado, Torreón Market no estará obligada a aceptar devoluciones de productos, salvo por defectos de calidad de los mismos. </p>
                            <p>
                                El cliente deberá devolver lo más pronto posible la mercancía a Torreón Market, por los mismos medios y en las mismas condiciones en que la recibió, a la dirección dispuesta para el efecto, que se le notificara cuando se comunique con servicio al cliente.
                                La solicitud de cambio o devolución la deberá realizar el usuario siempre comunicándose a servicio al cliente, para indicarle todo el procedimiento a seguir.
                            </p>
                            <p>
                                Algunos de los motivos de devoluciones o cambios podrían ser:
                            </p>
                            <p><i class="fa fa-circle point"></i> Que el producto entregado no sea el solicitado, o no corresponda con las características con que se exhibe en éste sitio web.</p>
                            <p><i class="fa fa-circle point"></i> Que el producto sea defectuoso o haya superado su fecha de vencimiento, al momento de la entrega.</p>
                            <p><i class="fa fa-circle point"></i> Elegir el producto deseado para comprar. Dar click en el botón amarillo que dice COMPRARLO.</p>
                            <p><i class="fa fa-circle point"></i> Que el cliente sea objeto de fraude.</p>
                            <p><i class="fa fa-circle point"></i> Que se dé una operación no solicitada.</p>
                            <p><i class="fa fa-circle point"></i> Que el producto adquirido no sea recibido.</p>
                            <p>
                                Siempre que la solicitud de cambio o devolución se presente por causas no atribuibles a Torreón Market, el crédito que se otorgará por el respectivo cambio o devolución ascenderá al valor neto del producto. Es decir que se reconocerá al cliente que efectúe
                                la devolución, únicamente el valor de el o los productos que devolvió, sin incluir el valor del transporte o flete, el cual será asumido por el cliente, quien además deberá asumir los cargos de transporte que se generen
                                como consecuencia de la recolección del producto, así como del nuevo envío. Si el cambio o devolución se presenta por causas atribuibles a Torreón Market, se cubrirá en ese caso todos los gastos que surjan, para responderle
                                adecuadamente al cliente, incluyendo todos los fletes que se generen como consecuencia de la recolección del producto, así como del nuevo envío. Las devoluciones y/o cambios deberán cumplir con las siguientes Condiciones
                                Generales:
                            </p>
                            <p><i class="fa fa-circle point"></i> El producto y su empaque no debe estar averiado o deteriorado por acciones correspondientes a los clientes..</p>
                            <p><i class="fa fa-circle point"></i> El producto debe tener las etiquetas, la cuenta de cobro, los empaques originales, y todos los accesorios y documentos anexos como garantías o manuales, si aplicará.</p>
                            <p><i class="fa fa-circle point"></i> El producto no debe mostrar señales de uso, señal de haber sido abierto, suciedad o desgaste.</p>
                            <p><i class="fa fa-circle point"></i> El producto no debe tener más de cinco (5) días hábiles de entregado.</p>
                            <p><i class="fa fa-circle point"></i> El producto adquirido no debe ser perecedero, de uso personal o íntimo.</p>
                            <p>
                                Se devolverá el dinero que pago el cliente sin que haya lugar a ningún tipo de descuento o retención, en un término no mayor de treinta (30) días calendario, contados desde el momento en que el cliente notifique de la devolución a servicio al cliente,
                                mientras ésta devolución sea a su vez, aceptada por nosotros, según sus términos y políticas, y sin dejar de alinearse a las leyes y normas que apliquen.
                            </p>
                            <p>
                                Nuestros proveedores y los productos que comercializamos en torreonmarket.com son cuidadosamente seleccionados, para ofrecer una excelente calidad y seguridad a nuestros clientes. Manejamos los términos de garantía que ofrecen nuestros proveedores para
                                los productos que distribuimos dentro de Colombia. Si presentas alguna inquietud o inconveniente por favor comunícate con nosotros.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="prefre13">
                        <h2 class="mb-0 pregunta">
                            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#prefre33" aria-expanded="false" aria-controls="prefre33">
                            <h5><i class="fa fa-chevron-down"></i> Seguridad de mis Datos Personales</h5>
                        </button>
                        </h2>
                    </div>
                    <div id="prefre33" class="collapse" aria-labelledby="prefre13" data-parent="#accordionExample">
                        <div class="card-body">
                            <p>
                                La información personal suministrada por el usuario para registrarse y usar los servicios en el sitio web torreonmarket.com, es tratada de manera confidencial. Su información personal se procesa y almacena en servidores que mantienen altos estándares
                                de seguridad y protección tecnológica. </p>
                            <p>
                                Al usuario también se le recomienda ser cuidadoso con la protección de sus datos y cambiar la contraseña regularmente y no compartirla con nadie. Debe avisarnos rápidamente, si cree que está teniendo algún inconveniente de seguridad. </p>
                            <p>
                                El este sitio web para el tratamiento de datos personales nos guiamos con toda la normativa de la República de Colombia en materia de protección de datos personales, para tener las mejores prácticas y ofrecer un servicio seguro a nuestros clientes. </p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="prefre14">
                        <h2 class="mb-0 pregunta">
                            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#prefre34" aria-expanded="false" aria-controls="prefre34">
                            <h5><i class="fa fa-chevron-down"></i> Derecho a retracto</h5>
                        </button>
                        </h2>
                    </div>
                    <div id="prefre34" class="collapse" aria-labelledby="prefre14" data-parent="#accordionExample">
                        <div class="card-body">
                            <p>
                                El derecho de retracto es la posibilidad que se le brinda al cliente de solicitar la devolución de la totalidad del dinero pagado como también realizar la devolución del producto recibido, dentro de un término máximo de cinco (5) días hábiles siguientes
                                a la entrega del producto. </p>
                            <p>
                                Los costos del transporte o flete y los demás que conlleve la devolución de los productos, serán cubiertos por el cliente. </p>
                            <p>
                                El cliente deberá devolver lo más pronto posible el o los productos a Torreón Market, por los mismos medios y en las mismas condiciones en que los recibió, a la dirección dispuesta para el efecto, que se le notificara cuando se comunique con servicio
                                al cliente. El derecho de retracto deberá ser solicitado comunicándose a servicio al cliente. Y deberá cumplir con las siguientes Condiciones Generales:
                            </p>
                            <p><i class="fa fa-circle point"></i> El producto y su empaque no debe estar averiado o deteriorado por acciones correspondientes a los clientes.</p>
                            <p><i class="fa fa-circle point"></i> El producto debe tener las etiquetas, la cuenta de cobro, los empaques originales, y todos los accesorios y documentos anexos como garantías o manuales, si aplicará.</p>
                            <p><i class="fa fa-circle point"></i> El producto no debe mostrar señales de uso, señal de haber sido abierto, suciedad o desgaste.</p>
                            <p><i class="fa fa-circle point"></i> El producto no debe tener más de cinco (5) días hábiles de entregado.</p>
                            <p><i class="fa fa-circle point"></i> El producto adquirido no debe ser perecedero, de uso personal o íntimo.</p>
                            <p>
                                Se devolverá el dinero que se hubiese pagado sin que haya lugar a ningún tipo de descuento o retención, en un término no mayor de treinta (30) días calendario, contados desde el momento en que se ejerza el derecho. Los costos del transporte o flete y
                                los demás que conlleve la devolución de los productos, serán cubiertos por el cliente.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>